@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://grab-ui.netlify.app/components/grab-ui.css");
@import url("https://grab-ui.netlify.app/styles.css");

body {
  font-family: "Open Sans", sans-serif;
  background: #f3f4f6;
}
/* .navbar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.app-header {
  text-align: center;
}

.app-body {
  margin: 2rem 4rem 2rem 10rem;
}

/* Common Utils */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#toast {
  font-size: medium;
}

#toast.show {
  /* right: 35%; */
  /* top: 5%; */
}

/* Header */
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  background: var(--primary-color);
  grid-area: header;
}

.wish-header {
  padding: 1rem;
}

.icon-badge .icon-badge__cart {
  background-color: var(--ow-font-color);
  color: var(--primary-color);
  padding: 3px 6px;
  border: 1.5px solid var(--primary-color);
  font-size: small;
}
.icon-badge {
  position: relative;
}

.icon-badge__cart {
  position: absolute;
  right: 5%;
  top: -10%;
}

.icon-badge__wish {
  background-color: var(--ow-font-color);
  color: var(--primary-color);
  border-radius: 50%;
  padding: 1.5px 1.5px;
  border: 1.5px solid var(--primary-color);
  position: absolute;
  right: 10%;
  top: 10%;
}

.fa-shopping-cart {
  font-size: x-large;
}

.fa-heart {
  font-size: x-large;
}

.icon-badge__heart {
}
/* product Listing */

.container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas:
    "header header"
    "aside main";
  grid-template-rows: 50px 2fr;
  grid-template-columns: 150px 1fr;
}

.container__head {
  grid-area: header;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.container__aside {
  margin-top: 80px;
  grid-area: aside;
  height: calc(100vh - 50px);
  /* overflow-y: auto; */
  /* overflow-x: clip; */
  overflow: auto;
  position: fixed;
  padding: 1rem;
}
.card-container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
}

.para--label {
  padding: 1rem;
}

.container__main {
  grid-area: main;
  max-width: 100%;
  padding: 5rem;
  height: 100vh;
  margin-bottom: 3rem;
  /* overflow: auto; */
}

.card--display {
  display: flex;
  position: relative;
  top: 0;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-items: flex-start;
  flex-basis: 30%;
}
.card {
  height: inherit;
  margin: 1rem;
  width: 280px;
  height: 440px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.card__img {
  width: 280px;
  height: 300px;
}

.card__desc {
  width: 280px;
  position: relative;
  background: #dde0e4;
}

.star-count__star {
  font-weight: bold;
  font-size: large;
}
.star-count {
  position: absolute;
  left: 80%;
  display: flex;
  justify-content: space-evenly;
  padding: 0 0.5rem;
  width: 5rem;
  background: var(--secondary-color);
  color: var(--ow-font-color);
  border-radius: 5px;
}

.fa-star {
  color: var(--ow-font-color);
  font-size: large;
}

.btn--cart {
  margin-top: 0.2rem;
  float: right;
}

.wish-icon {
  position: absolute;
  font-size: medium;
  left: 85%;
  margin: 0.4rem;
  padding: 0.8rem;
  color: #6b7280;
  border-radius: 50%;
  background: #e5e7eb;
}
.wish-icon:active {
  color: var(--primary-color);
}

.card__details {
  font-size: small;
}

.filter-label {
  font-size: small;
  margin: 1rem;
}

.stock-details {
  font-size: small;
}

.inStock {
  color: green;
}

.outOfStock {
  color: grey;
}
.offer {
  background: orange;
  color: white;
  width: fit-content;
  padding: 0 1rem;
}

/* WISHLIST */
/* .wish-icon--selected {
  color: var(--primary-color);
} */

.wish-contaniner {
  display: grid;
  width: 100%;
  height: 100%;
}

/* Mobile screens */
