@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://grab-ui.netlify.app/components/grab-ui.css");
@import url("https://grab-ui.netlify.app/styles.css");

body {
  font-family: "Open Sans", sans-serif;
}
/* .navbar {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.app-header {
  text-align: center;
}

.app-body {
  margin: 2rem 4rem 2rem 10rem;
}

/* Common Utils */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Header */
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  background: var(--primary-color);
  grid-area: header;
}

.wish-header {
  padding: 1rem;
}
/* product Listing */

.card-container {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
}

.container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas:
    "header header"
    "aside main";
  grid-template-rows: 50px 2fr;
  grid-template-columns: 150px 2fr;
}

.container__head {
  grid-area: header;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.container__aside {
  margin-top: 80px;
  grid-area: aside;
  height: calc(100vh - 50px);
  /* overflow-y: auto; */
  /* overflow-x: clip; */
  overflow: auto;
  position: fixed;
  padding: 1rem;
}

.para--label {
  padding: 1rem;
}

.container__main {
  grid-area: main;
  max-width: 100%;
  padding: 5rem;
  height: 100vh;
  margin-bottom: 3rem;
  /* overflow: auto; */
}
.card {
  height: inherit;
  margin: 1rem;
  width: 315px;
  height: 386px;
}

.card--display {
  display: flex;
  position: relative;
  top: 0;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-basis: 30%;
}

.card__img {
  width: 315px;
}

.card__desc {
  width: 315px;
}

.star-count__star {
  font-weight: bold;
  font-size: large;
}
.star-count {
  display: flex;
  justify-content: space-evenly;
  padding: 0 0.5rem;
  width: 5rem;
  background: var(--secondary-color);
  color: var(--ow-font-color);
  border-radius: 5px;
}

.fa-star {
  color: var(--ow-font-color);
  font-size: large;
}

.btn--cart {
  margin-top: 0.2rem;
  float: right;
}

.wish-icon {
  position: absolute;
  font-size: medium;
  left: 85%;
  margin: 0.4rem;
  padding: 0.8rem;
  color: #6b7280;
  border-radius: 50%;
  background: #e5e7eb;
}

.card__details {
  font-size: small;
}

.filter {
  font-size: smaller;
  margin: 1rem;
}

.offer {
  background: orange;
  color: white;
  width: fit-content;
  padding: 0 1rem;
}
/* CART */
.cart-contaniner {
  display: grid;
  width: 100%;
  height: 100%;
}

.total {
  margin-left: 4rem;
}

.bill {
  border: 1px solid var(--font-color);
  padding: 1.5rem;
}

.fa-plus,
.fa-minus {
  font-size: large;
  margin: 0.4rem;
  padding: 0.5rem;
  border: 1px solid black;
  border-radius: 50%;
}

.fa-trash-o {
  font-size: large;
  margin-right: 0.2rem;
  padding-left: 0.3rem;
  /* margin: 2rem; */
}

.btn--trash {
  float: right;
}

.card__quantity {
  display: inline;
  font-size: large;
  margin: 0.4rem;
  padding: 0.2rem 1.5rem;
  border: 1px solid #4b5563;
}

.btn--buy-now {
  margin-right: 8rem;
}

/* WISHLIST */
.wish-icon--selected {
  color: var(--primary-color);
}

.wish-contaniner {
  display: grid;
  width: 100%;
  height: 100%;
}

/* Mobile screens */
